body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: auto;
}

.column-title {
  font-size: larger;
font-weight: bolder;
}

.taskcard-title {
  font-size: medium;
  font-weight: bold;
}

.columnColored {
  background-color: greenyellow;
}

.columnDefault {
  background-color: white;
}

.taskcard-color{
  background-color: greenyellow;
}


.taskcard-default{
  background-color: white;
}